<!-- Copyright 2016 AdWork Media Group, LLC - adworkmedia.com -->
@import url("css.css");
*{
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    background: #f3f3f3;
}

.container{
    background: #ffffff;
    padding: 0;
    margin-top: 20px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    overflow: hidden;
    padding-bottom: 20px;
}

.top-wrap{
    padding: 20px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8599b2+0,576275+100 */
    background: #8599b2; /* Old browsers */
    background: -moz-linear-gradient(top,  #8599b2 0%, #576275 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #8599b2 0%,#576275 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #8599b2 0%,#576275 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8599b2', endColorstr='#576275',GradientType=0 ); /* IE6-9 */

    color: #ffffff;
    margin-bottom: 20px;
}

h1{
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

h3{
    text-align: center;
}

.img-wrap{
    padding: 15px;
    border-right: 1px solid #e7e7e7;
}

.info-wrap{
    padding: 15px 25px 15px;
}

h4{
    font-size: 22px;
    text-transform: uppercase;
}

.form-area {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fefefe+0,e2e2e2+100 */
    background: #fefefe; /* Old browsers */
    background: -moz-linear-gradient(top,  #fefefe 0%, #e2e2e2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fefefe 0%,#e2e2e2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fefefe 0%,#e2e2e2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */

    padding: 25px 15px;
    border: 1px solid #e7e7e7;
    border-radius: 2px;
    margin-top: 20px;
}

h2{
    font-weight: 600;
    color: #C33E4F;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}

ul li{
    color: #7b7b7b;
    font-size: 17px;
    list-style: square;
}

.btn-danger{
    font-size: 32px;
    padding: 7px;
}

.btn-wrap{
    padding: 15px 5px;
    margin-top: 10px;
}

p{
    margin-top: 10px;
    text-align: center;
    padding: 15px;
    border-top: 1px solid #e7e7e7;
}